<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mock Florical Website</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="icon" href="http://florical.com/themes/framework/favicon.ico">
    </head>
    <body>
        <div id="all">
            <header id="home">
                <h1>Florical Systems</h1>
                <nav id="nav">
                    <div class="navbar">
                        <button class="tablink" onclick="changeTab(event, 'tab1')">Florical Systems</button>
                        <button class="tablink" onclick="changeTab(event, 'tab2')">Download 1</button>
                        <button class="tablink" onclick="changeTab(event, 'tab3')">Download 2</button>
                        <button class="tablink" onclick="changeTab(event, 'tab4')">Download 3</button>
                    </div>
                </nav>
            </header>
            <main id="wrapper">
                <div id="tab1" class="scene contain">
                    <article>
                        <div id="root"><%- initialMarkup -%></div>
                    </article>
                </div>
                <div class="scene contain" id="tab2">
                    <article>
                        <div id="tab2rt"></div>
                    </article>
                </div>
                <div class="scene contain" id="tab3">
                    <article>
                        <h1>Download Thing 2</h1>
                    </article>
                </div>
                <div class="scene contain" id="tab4">
                    <article>
                        <h1>Download Thing 3</h1>
                    </article>
                </div>
            </main>
        </div>
        <script type="text/javascript">
            window.initialData = <%- JSON.stringify(initialData) -%>
        </script>
        <script src="/bundle.js" charset="utf-8"></script>
        <script type="text/javascript">
			function changeTab(evt, tabid){
				var i, tabcontent, tablinks;

				tabcontent = document.getElementsByClassName("contain");
				for (i=0; i < tabcontent.length; i++){
					tabcontent[i].style.display = "none";
				}

				tablinks = document.getElementsByClassName("tablink");
				for (i=0; i<tablinks.length; i++){
					tablinks[i].className = tablinks[i].className.replace(" active","");
				}

				document.getElementById(tabid).style.display = "block";
				evt.currentTarget.className +=" active";
			}	
		</script>
    </body>
</html>