<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mock Florical Website</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="icon" href="http://florical.com/themes/framework/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
    </head>
    <body>
        <div class="container">
            <header>
                <h1>Florical Systems</h1>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#home">Home</a></li>
                    <li><a href="#tab2">Menu 1</a></li>
                    <li><a href="#tab3">Menu 2</a></li>
                    <li><a href="#tab4">Menu 3</a></li>
                </ul>
            </header>
            <main class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <article>
                        <div>
                            <div id="root"><%- initialMarkup -%></div>
                        </div>
                    </article>
                </div>
                <div class="tab-pane fade" id="tab2">
                    <article>
                        <h1>I'm alright how are you</h1>
                        <div id="tab2rt"></div>
                    </article>
                </div>
                <div class="tab-pane fade" id="tab3">
                    <article>
                        <h1>Download Thing 2</h1>
                    </article>
                </div>
                <div class="tab-pane fade" id="tab4">
                    <article>
                        <h1>Download Thing 3</h1>
                    </article>
                </div>
            </main>
        </div>
        <script type="text/javascript">
            window.initialData = <%- JSON.stringify(initialData) -%>
        </script>
        <script src="/bundle.js" charset="utf-8"></script>
        <script>
            $(document).ready(function(){
                $(".nav-tabs a").click(function(){
                    $(this).tab('show');
                });
            });
        </script>
        
    </body>
</html>